img {
height: 100%;
}
#wrapper-image{
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
}
#odin {
    font-size: 60px;
    width: 100%;
    padding: 1% 0;
    position: absolute;
    top: 25%;
    text-align: center;
    z-index: 12;
    color: aliceblue;
    background: rgba(0, 0, 0, 0.5);
}