html, body {
  margin: 0;
  padding: 0;   /* không bắt buộc nhưng thường xuyên dùng */
}
body{
    display: flex;
    
}
img {
height: 100%;
}
#wrapper-image{
    height: 100vh;
    position: relative;
}
#odin {
    font-size: 60px;
    width: 100%;
    padding: 1% 0;
    position: absolute;
    top: 25%;
    text-align: center;
    z-index: 12;
    color: aliceblue;
    background: rgba(0, 0, 0, 0.5);
}
#form-wrapper{
    flex: 1 0 10%;
  display: flex;          /* BẮT BUỘC để align-items hoạt động */
  flex-direction: column; /* sắp xếp con dọc */
  justify-content: center;/* căn giữa theo TRỤC DỌC   (Y) */
  align-items: center;    /* căn giữa theo TRỤC NGANG (X) */

}
label {
  display: block;
}
* {
    border: solid;
    border-color: red;
}