html, body {
  margin: 0;
  padding: 0;   /* không bắt buộc nhưng thường xuyên dùng */
}
body{
    display: flex;
    align-items: flex-start;  
    align-items: center;    /* căn giữa theo TRỤC NGANG (X) */
}
img {
height: 100%;
}
#wrapper-image{
    height: 100vh;
    position: relative;
    
}
#odin {
    font-size: 60px;
    width: 100%;
    padding: 1% 0;
    position: absolute;
    top: 25%;
    text-align: center;
    z-index: 12;
    color: aliceblue;
    background: rgba(0, 0, 0, 0.5);
}
#form-wrapper{
    flex: 1 1 auto;
    display: grid;          /* BẮT BUỘC để align-items hoạt động */
    grid-template-columns: 1fr 1fr;
    justify-content: center;/* căn giữa theo TRỤC DỌC   (Y) */
    align-items: center;    /* căn giữa theo TRỤC NGANG (X) */
    padding: clamp(0px, 13%, 100%) ; /* Flexible padding instead of margin */
    box-sizing: border-box;  
    column-gap:0.5rem;          /* Ensures padding stays inside available space */
}
label {
  display: block;
}

form, .form-group, input, label {
  min-width: 0;
}